.settings-container {
  width: 100%;
  
  .settings {
      
    @include respond(tab-port) {
      @include flexColumnCenter;
      justify-content: flex-start;
    }

    @include flexRowCenter;
    background-color: $color-white;
    height: 45rem;
    
    & > * {
      padding-top: 2rem;
      @include respond(tab-port) {
        padding-top: 0rem;
      }
    }

    &-navigation {
      @include respond(tab-port) {
        width: 100%;
        height: 5rem;
      }
      width: 28rem;
      height: 100%;
      
      &-links {
        @include flexColumnCenter;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 0rem;
        
        @include respond(tab-port) {
          flex-direction: row;          
          justify-content: flex-start;
          align-items: stretch;
        }
        
        &-link {
          @include respond(tab-port) {
            width: 30rem;
            height: 100%;
          }

          @include flexRowCenter;
          font-size: 1.8rem;
          height: 4.6rem;
          width: 100%;
          
          &-selected {
            background-color: rgba($color-blue-dark-1, 0.1) !important;
            color: $color-blue-dark-1 !important;
          
            svg {
              fill: $color-blue-dark-1 !important;
            }
          }
          
          &-anchor {
            transition: .3s;
            @include flexRowCenter;
            @include defaultInput;
            color: $color-grey-dark-2;
            background-color: transparent;
            justify-content: flex-start;
            padding-left: 3rem;
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;
            text-decoration: none;

            @include respond(tab-port) {
              border-top-right-radius: 0rem;
              border-bottom-right-radius: 0rem;
              justify-content: center;
              padding-left: 0rem;
            }
            
            &:hover {
              background-color: $color-white-2;
            }
            
            &-icon {
              svg {
                width: 1.4rem;
                height: 1.4rem;
                fill: $color-grey-dark-2;
              }
            }
            
            &-title {
              margin-left: 1.5rem;
              font-size: 1.4rem;
              font-weight: 600;
              letter-spacing: .4px;
            }
          }
        }
      }
    }

    &-main {
      flex: 1;
      height: 100%;
      padding-left: 4rem;

      @include respond(tab-port) {
        padding-top: 3rem;
      }

      &-content {
        @include flexColumnCenter;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        .sessions-container {
          border: 1px solid $color-white-3;
          border-radius: 5px;
          width: 50rem;
          box-shadow: 0 0 .7rem $color-white-3;
          overflow: hidden;

          .sessions {
            width: 100%;
            
            &-heading {
              padding: 1.2rem 1.5rem;
              font-size: 2.1rem;
              letter-spacing: 1px;
              color: $color-grey-light-2;
              border-bottom: 1px solid $color-white-3;
            }
            
            &-session {
              @include flexRowCenter;
              justify-content: flex-start;
              align-items: flex-end;
              padding: 2rem 2.3rem;
              border-bottom: 1px solid $color-white-3;
              height: 6rem;
              overflow: hidden;
              padding-bottom: .8rem;
              transition: .5s;

              &-details {
                flex: 1;

                & > * {
                  margin-bottom: 1rem;
                }
  
                &-browser {
                  @include flexRowCenter;
                  justify-content: flex-start;
  
                  &-icon {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                  }
                }
                
                &-os {
                  padding-left: 3.8rem;
                }
  
                &-device {
                  @include flexRowCenter;
                  justify-content: flex-start;
  
                  &-icon {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                  }

                  &-title {
                    flex:1;
                  }

                  &-current {
                    text-transform: uppercase;
                    margin-left: 1rem;
                    letter-spacing: .5px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $color-green;
                  }

                  &-dropdown-icon {
                    @include flexRowCenter;
                    
                    label {
                      @include flexRowCenter;
                      
                      svg {
                        cursor: pointer;
                        margin-left: 1rem;
                        fill: $color-grey-dark-1;
                        height: 3rem;
                        width: 3rem;
                        transition: .3s;
                        
                        &:active {
                          fill: $color-grey-dark-3;
                        }
                      }
                    }

                    & > input:checked + label > svg{
                      transform: rotateZ(-180deg);
                    }
                  }
                }
              }
                
              &-options {
                @include flexColumnCenter;
                
                button {
                  margin-left: 2rem;
                  cursor: pointer;
                  @include defaultInput;
                  background-color: $color-red;
                  color: white;
                  font-weight: 600;
                  padding: 1.1rem 1.2rem;
                  letter-spacing: .5px;
                  border-radius: 5px;
                  border-bottom: 2px solid $color-grey-light-1;

                  &:active {
                    border-bottom: none;
                    background-color: rgba($color-red, 0.9);
                  }

                  &[disabled=disabled], &:disabled {
                    border-bottom: none;
                    background-color: rgba($color-red, 0.7);
                  }
                }
              }
            }
          }
        }

        .private-profile-container {
          width: 100%;
          .private-profile {
            width: 100%;
            @include flexRowCenter;
            &-details {

              @include respond(tab-port) {
                width: 100%;
              }
              overflow: hidden;
              position: relative;
              width: 60%;
              border: 1px solid $color-white-3;
              border-radius: 1rem;
              box-shadow: 0px 0px .5rem $color-white-3;

              &-photo {
                width: 100%;
                @include flexRowCenter;
                align-items: stretch;

                &-content {
                  @include flexRowCenter;
                  justify-content: flex-start;
                  flex: 1;
                  padding: 2rem;
                  padding-left: 3rem;
                  
                  &-image {
                    @include flexRowCenter;
                    background-color: $color-white-3;
                    height: 8rem;
                    width: 8rem;
                    border-radius: 50%;
                    overflow: hidden;

                    & > img {
                      height: 100%;
                    }
                  }
                }

                &-edit {
                  @include flexRowCenter;
                  padding: 3rem;

                  &-button {
                    @include flexRowCenter;
                    position: relative;
                    cursor: pointer;
                    @include defaultInput;
                    background-color: transparent;
                    border: none;
                    padding: 0rem;
                    border-radius: 50%;
                    @include flexRowCenter;
                    transition: .3s;
                    
                    &-icon {
                      @include flexRowCenter;

                      svg {
                        width: 2rem;
                        height: 2rem;
                        fill: $color-grey-dark-1;

                        &:active {
                          fill: $color-grey-dark-3;
                        }
                      }
                    }
                    
                    &-title {
                      color: $color-blue-light-2;
                      font-size: 1.2rem;
                      letter-spacing: .3px;
                      font-weight: 600;
                      margin-left: 1rem;
                    }
                  }
                }
                
                &-privacy {
                  @include flexColumnCenter;
                  padding: 0rem 2rem;

                  select {
                    cursor: pointer;
                    padding: .7rem;
                    -webkit-appearance: scrollbarbutton-down;
                    -moz-appearance: scrollbarbutton-down;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -webkit-padding-end: 1rem;
                    -moz-padding-end: 1rem;
                    -webkit-padding-start: 1rem;
                    -moz-padding-start: 1rem;
                    outline: none;
                    border: 1px solid $color-grey-light-2;
                    color: $color-grey-light-3;
                    border-radius: .5rem;
                    font-size: 1.4rem;
                    letter-spacing: .6px;
                    font-weight: 500;
                  }
                }
              }

              &-name, &-email, &-level, &-style {
                @include flexRowCenter;
                border-top: 1px solid $color-white-3;
                width: 100%;
                align-items: stretch;
                padding: .5rem 0rem;

                &-title {
                  @include flexRowCenter;
                  letter-spacing: .7px;
                  width: 16rem;
                  font-weight: 600;  
                }

                &-value {
                  @include flexRowCenter;
                  justify-content: flex-start;
                  padding-left: 5rem;
                  letter-spacing: .5px;
                  flex: 1;
                }
                
                &-edit {
                  padding: 2rem 3rem;
                  @include flexRowCenter;

                  &-button {
                    @include flexRowCenter;
                    position: relative;
                    cursor: pointer;
                    @include defaultInput;
                    background-color: transparent;
                    border: none;
                    padding: 0rem;
                    border-radius: 50%;
                    @include flexRowCenter;
                    
                    &-icon {
                      @include flexRowCenter;

                      svg {
                        width: 2rem;
                        height: 2rem;
                        fill: $color-grey-dark-1;

                        &:active {
                          fill: $color-grey-dark-3;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}