.primary-button {
  @include defaultInput;
  padding: 1.5rem 4rem;
  color: white;
  text-transform: uppercase;
  border-radius: 10rem;
  cursor: pointer;
  background-color: $color-blue-light-1;
  transition: .3s;

  &:hover {
    box-shadow: 0 3px 3px $color-grey-light-3;
    transform: translateY(-1px);
  }
  
  &:active {
    background-color: $color-blue-light-3;
    box-shadow: 0 0px 0px $color-grey-light-3;
    transform: translateY(0px);
  }
  
  &[disabled=disabled], &:disabled {
    box-shadow: 0 0px 0px $color-grey-light-1;
    background-color: $color-grey-light-1;
  }
}