.login-container {
  margin-top: 5rem;
  width: auto;
  height: auto;
  border-radius: .3rem;
  box-shadow: 0 0 2rem $color-grey-dark-2;
  background-color: $color-white;
  background-image: linear-gradient(to right, rgba($color-white, 0.5), rgba($color-white, 0.5));
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20rem;
  padding: 5rem 0rem 3rem 0rem;

  
  @include respond(tab-port) {
    background-image: none;
  }

  .login-form {
    @include flexColumnCenter;
    width: 45rem;
    height: auto;
 
    & > div {
      width: 100%;
      margin: 1.5rem 0rem;
      padding: 0rem 6rem;
      
      @include flexRowCenter;
      
      & > div {
        position: relative;
        height: 5rem;
        width: 100%;

        @include flexRowCenter;
        justify-content: flex-start;

        span.password-strength {
          position: absolute;
          right: 1rem;
          margin-top: -.2rem;

          span {
            font-size: 1.2rem;
            padding: .5rem .7rem;
            border-radius: .4rem;
            color: white;
            opacity: .9;
            letter-spacing: .8px;

            &.text-green {
              background-color: $color-green
            }

            &.text-orange {
              background-color: $color-orange
            }

            &.text-red {
              background-color: $color-red
            }
          }
        }

        svg {
          position: absolute;
          fill: $color-grey-light-2;
          width: 4rem;
          height: 1.4rem;
          margin-top: -1px;
        }          

        & > input {
          @include defaultInput;
          border-radius: 3px;
          padding-left: 3.5rem;
          position: absolute;
          height: 100%;
          width: 100%;
          color: $color-grey-dark-3;
          padding-top: .2rem;
          font-size: 1.3rem;
          letter-spacing: .4px;
          background-color: rgba($color-grey-light-1, 0.2);
          border-bottom: 3px solid transparent;
          
          @include respond(tab-port) {
            background-color: $color-white;
            box-shadow: 0 0 2rem $color-white-3;
          }

          &::placeholder {
            letter-spacing: .7px;
            color: $color-grey-dark-2;
          }
          
          &:focus {
            border-bottom: 3px solid $color-blue-dark;
          }
        }
      }
        
      &.login-password-tip {
        margin-top: 0rem;
        line-height: 1.6rem;
        font-size: 1.2rem;
        color: $color-grey-dark-3;

        & > p {
          padding: 0rem .2rem;
        }
      }
    }

    & > div.login-error {
      width: 100%;
      margin: 0rem;
      
      p {
        padding: .3rem;
        padding-left: .5rem;
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: $color-red;
        border-radius: .2rem;
        font-weight: 600;
        letter-spacing: .6px;
      }
    }

    & > div {

      &.login-button {
        text-align: center;
        margin-top: 3rem;
  
        button {
          letter-spacing: .6px;
          padding: 1.5rem 5rem;
          
          &:active {
            padding: 1.5rem 4.9rem;
          }
        }
      }
  
      &.login-redirect {
        text-align: center;
        margin-top: 1.5rem;
        @include flexRowCenter;
  
        a {
          text-decoration: none;
          color: $color-blue-dark;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}