$color-blue-light-1:#00c6ff;
$color-blue-light-2:#18cdff;
$color-blue-light-3:#32d3ff;

$color-blue-dark-1: #0072ff;
$color-blue-dark-2: #1880ff;
$color-blue-dark-3: #2a8aff;

$color-black: #000000;

$color-black-1: #4e4e4e;
$color-black-2: #3b3b3b;
$color-black-3: #2b2b2b;

$color-grey-dark-1: #919191;
$color-grey-dark-2: #777777;
$color-grey-dark-3: #5e5e5e;

$color-grey-light-1: #c4c7c7;
$color-grey-light-2: #acadad;
$color-grey-light-3: #939696;

$color-white: #ffffff;

$color-white-1: #fdfdfd;
$color-white-2: #f5f5f5;
$color-white-3: #eeeded;

$color-red: #FF3031;
$color-orange: #fd9644;
$color-green: #20bf6b;

$navigation-bar-height: 9rem;